{% extends 'admin/master.html' %}

{% block body %}

{% if current_user.is_authenticated %}

<h1 class="text-center text-success">TRANG CHỦ QUẢN TRỊ BÁN HÀNG</h1>
<h3>Chào <span class="text-danger">{{ current_user.name }}</span>!</h3>

{% else %}
<h1 class="text-center text-danger">ĐĂNG NHẬP QUẢN TRỊ</h1>
<form method="post" action="/login-admin">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Tên đăng nhập:</label>
    <input type="text" class="form-control" id="email" placeholder="Nhập tên đăng nhập" name="username">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Mật khẩu:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
{% endif %}




{% endblock %}
